body {
    font-family: 'Titillium Web', sans-serif;
    margin:0px;
    ul{
        padding-inline-start:0;
    }
    text-align: center;
    th{
        font-family: 'Titillium Web', sans-serif;
    }
    background-color: #27374D;
    color: #27374D;
    height: max;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}
h3 {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.info-table th, .info-table td {
    border: 2px solid #DDE6ED;
    text-align: center; /* Center align content in all columns */
    padding: 8px;
}

.info-table th {
    background-color: #f2f2f2;
}

.error {
    color: red;
}



.responsive-table {
    li {
        border-radius: 3px;
        padding: 22px 22px;
        display: flex; /* Center vertically within row */
        justify-content: space-between;
        align-items: center; /* Center vertically within row */
        margin-bottom: 25px;
        background-color: #526D82;
        color:#27374D;
    }

    .table-header {
        background-color: #526D82;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        text-align: center; /* Center align content in all columns */
        padding: 22px 0;
    }

    .table-row {
        background-color: #9DB2BF;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 25%;
        text-align: center; /* Center align content in all columns */
        margin: 0 auto; /* Center horizontally */
        font-size: 20px;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        

        li {
            display: block;
        }

        .col {
            text-align: center;
            flex-basis: 100%;
        }

        .col {
            display: flex;
            padding: 10px 0;
            text-align: center;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: center;
            }
        }
    }
}
/* ... Your existing CSS ... */

.responsive-table-admin {
    li {
        border-radius: 3px;
        padding: 22px 22px; /* Remove padding */
        margin: 0; /* Remove margin */
        display: flex; /* Center vertically within row */
        align-items: center; /* Center vertically within row */
        margin-bottom: 25px;
        color:#27374D;
    }
    ul {
        border-radius: 3px;
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        display: flex; /* Center vertically within row */
        align-items: center; /* Center vertically within row */
        margin-bottom: 25px;
        
       
    }
    .table-header {
        background-color: #526D82;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        text-align: center; /* Center align content in all columns */
        padding: 22px 22px;
    }

    .table-row {
        background-color: #9DB2BF;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-0{
        flex-basis: 20%; /* Adjust as needed */
        text-align: center; /* Center align content in all columns */
        font-size: 20px;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 20%; /* Adjust as needed */
        text-align: center; /* Center align content in all columns */
        font-size: 20px;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        li {
            display: block;
        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
            }
        }
    }
}

.update{
    text-align: center;
    display: inline-block;
}

th{
    background-color: #526D82;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center; /* Center align content in all columns */
    padding: 22px 22px;
    border-bottom:25px;
    padding-left: 43.8px;
    padding-right:43.8px;
    color:#27374D;
    
  
}

table th:first-child{
    border-radius: 3px 0 0 3px;
    
    
    
}


table th:last-child{
    border-radius: 0 3px 3px 0;
    
    box-shadow: 4 4px 0px rgba(0, 0, 0, 0.2);
}

table{
    border-spacing:0;
    border-bottom:25px;
    
    
}
td{
    width:25%;
    padding-top: 25px;
    padding-bottom: 25px;
    
    
}


::placeholder{
    text-align: center;
}



/* CSS */
button{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.logout-button{
    text-align: right;
}


.login-form{
    height: 400px;
}
.tooltip-container {
    position: relative;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  .tool::after {
    content: attr(data-tooltip);
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tool:hover::after {
    visibility: visible;
    opacity: 1;
  }
    
  .logout{
    
    position:absolute;
    top:17.5px;
    right:20px;
    padding: 7px;
  }

  .search-bar {
    background-color:#dddddd;
    border:none;
    border-bottom: 3px solid #27374D;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
    color: #27374D;
    width:30px ;
  }
  .search-bar:focus {
    border-bottom: 5px solid #27374D;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    width:200px ;
  }
  .update-input{
   
    width:250px !important;
    height:45px;
    border-radius:5px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border:0;
    outline:0;
    text-align: center;
    background-color: #9DB2BF;
    margin-bottom:10px;
    color:#27374D;
}
  .backing{
    background-color:#dddddd;
    width:50%;
    height:120%;
    position:absolute;
    left:25%;
    top:10%;
    
    margin-right:25%;
  }
  .main-header {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #dddddd;
    color:#27374D;
    position: absolute;
    top:-9.5%;
    left:-50%;
    width:2560px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}